*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .stopwatch{
    padding: 15% 10%;
    background: hsl(42, 88%, 49%);
    height: 90vh;
    text-align: center;
    color: #fff;
  }
   button{
    height: 40px;
    border-radius: 5px;
    background-color:  #eaa80f;
    border: #fff 1px solid;
    color: #fff;
    width: 200px;
  }
  
  @media screen and (max-width : 425px){
    .stopwatch{
      padding: 35% 1px;
    }
    .stopwatch h1{
      font-size: 20px;
    }
    button{
      width: 100px;
    }
  
  }
  